<%/**
 * Anthony Scinocco 200271982
 * November 30, 2015
 * incident-management.azurewebsite.net
 * Contains the view for our ticket dashboard
 *
 * */%>
<%- include ../partials/header.ejs %>


<section>
    <div class="container">
        <div class="table-responsive">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th>Ticket Reference ID</th>
                        <th>Ticket Owner</th>
                        <th>Title</th>
                        <th>Severity</th>
                        <th>Status</th>
                        <th>Opened On</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i < tickets.length; i++) { %>
                    <tr>
                        <td><%= tickets[i].referenceId %></td>
                        <td><%= tickets[i].username %></td>
                        <td><%= tickets[i].title %></td>
                        <td>
                            <% if (tickets[i].severity <= 15) { %>
                                Green
                            <% } else if(tickets[i].severity >= 16 && tickets[i].severity <= 30) { %>
                                Yellow
                            <% } else if (tickets[i].severity >= 31 && tickets[i].severity <= 45) { %>
                                Red
                            <% } %>
                        </td>
                        <td><%= tickets[i].status %></td>
                        <td><%= tickets[i].createdAt %></td>
                        <td><a href="/incident/update/<%= tickets[i]._id %>" title="Update" class="btn btn-primary">Update</a></td>
                        <td><a href="/incident/delete/<%= tickets[i]._id %>" title="Delete" onclick="return confirm('Are you sure you what to delete <%= tickets[i]._id %> from your tickets?');" class="btn btn-danger">
                                Delete
                            </a>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
            <a href="/incident/add/" title="Add a ticket" class="btn btn-primary">Add Ticket</a>
        </div>
    </div>
</section>

<!-- This is our Ticket "Dashboard" where appropriate tickets will be displayed
in list/table format. Only a portion of the information will be displayed. Click
a ticket in order to go to single.ejs view -->

<!-- Client users will only be able to see their own tickets; 
whereas Admin users will be able to see ALL user tickets ... correct? -->

<%- include ../partials/footer.ejs %>
