<!--
Authors : Anthony Scinocco, Alex Andriishyn, Dan Masci, David Yu
Website : incident-management.azurewebsites.net
Last Updated : December 13th, 2015 by Anthony

File : profile.ejs
Description : This is the view that we render when a User wants to
			  update an existing User. If the User is an admin, they
			  get to this view via the User Dashboard. If the User
			  is a client, they get to this view rather than being
			  taken to the User Dashboard. The User's information
			  is populated based on the ID passed in. 
-->




<%- include ../partials/header.ejs %>

<div class="interior-page" id="user-profile">
	<div class="container">
		<form method="post">
			<div class="cancel-form" title="Cancel"><a href="/users"><i class="fa fa-times"></i></a></div>
			<% if (messages.length > 0) { %><div class="message"><span><%= messages %></span></div><% } %>
			<h2>Edit profile</h2>
			<fieldset class="form-group">
				<label for="firstName">First Name:</label>
				<input id="firstName" name="firstName" type="text" class="form-control" value="<%= editUser.firstName %>" autofocus required>
			</fieldset>
			<fieldset class="form-group">
				<label for="lastName">Last Name:</label>
				<input id="lastName" name="lastName" type="text" class="form-control" value="<%= editUser.lastName %>" required>
			</fieldset>
			<fieldset class="form-group">
				<label for="email">Email:</label>
				<input id="email" name="email" type="email" class="form-control" value="<%= editUser.email %>" required>
			</fieldset>
			<fieldset class="form-group">
				<label for="username">Username:</label>
				<input id="username" name="username" type="text" class="form-control" value="<%= editUser.username %>" required>
			</fieldset>
			<% if(user.role === 2) { %>			
			<fieldset class="form-group">
				<label for="role">Role:</label>
				<select id="role" name="role" type="text" class="form-control" required>
					<% if(editUser.role === 1 ) { %>
					<option value="1" selected>Client Account</option>
					<option value="2">Administrative Account</option>
					<% } else { %>
					<option value="1">Client Account</option>
					<option value="2" selected>Administrative Account</option>
					<% } %>
				</select>
			</fieldset>
			<% } else { %>
			<input id="role" name="role" type="hidden" value="<%= editUser.role %>">
			<% } %>
			<input id="_id" name="_id" type="hidden" value="<%= editUser._id %>">
			<div class="buttons">
				<button type="submit" class="btn btn-success">
					<i class="fa fa-check"></i>
				</button>
				<% if(user.role === 2) { %>
				<div title="Delete" class="btn btn-danger" id="delete-user">
					<i class="fa fa-trash-o"></i>
				</div>
				<% } %>
			</div><!-- buttons -->
		</form>
	</div><!-- container -->
</div><!-- #user-profile -->

<%- include ../partials/boot.ejs %>
<%- include ../partials/footer.ejs %>
