<%- include ../partials/header.ejs %>
<section ng-view></section>
<script type="text/javascript">
  window.user = <%- user || 'null' %>;
</script>
<%- include ../partials/footer_navbar.ejs %>
<%- include ../partials/boot.ejs %>
<%- include ../partials/nglib.ejs %>
<%- include ../partials/nglib_users.ejs %>
<%- include ../partials/footer.ejs %>
