<!--
Authors : Anthony Scinocco, Alex Andriishyn, Dan Masci, David Yu
Website : incident-management.azurewebsites.net
Last Updated : December 9th, 2015 by David

File : update-client.ejs
Description : This is the view that we render when an admin attempts to
              update an existing ticket. Admins receive a different view 
              than Clients.
-->


<%- include ../partials/header.ejs %>

<div class="interior-page" id="update-ticket-client">
    <section>
        <div class="container">
            <form method="post" action="/incident/update/<%= ticket._id %>">
                <h2>View ticket</h2>
                <fieldset class="form-group">
                    <label for="title">Title(Read Only)</label>
                    <input type="text" class="form-control" id="title" name="title" value="<%= ticket.title %>" required readonly>
                </fieldset>
                <fieldset class="form-group">
                    <label for="description">Description(Read Only)</label>
                    <textarea class="form-control" id="description" name="description" required readonly><%= ticket.description %></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <label for="status">Status(Read Only)</label>
                    <input type="text" class="form-control" id="status" name="status" value="<%= ticket.status %>" required readonly>
                </fieldset>
                <fieldset class="form-group">
                    <label for="priority">Priority(Read Only)</label>
                    <input type="text" class="form-control" id="priority" name="priority" value="<%= ticket.priority %>" required readonly>
                </fieldset>
                <fieldset class="form-group">
                    <label for="impact">Impact(Read Only)</label>
                    <input type="text" class="form-control" id="impact" name="impact" value="<%= ticket.impact %>" required readonly>
                </fieldset>
                <fieldset class="form-group">
                    <label for="urgency">Urgency(Read Only)</label>
                    <input type="text" class="form-control" id="urgency" name="urgency" value="<%= ticket.urgency %>" required readonly>
                </fieldset>
                <fieldset class="form-group">
                    <label for="narrativeTitle">Narrative Title(Read Only)</label>
                    <input type="text" id="narrativeTitle" name="narrativeTitle" class="form-control" placeholder="Narrative Title" required readonly>
                </fieldset>
                <fieldset class="form-group">
                    <label for="narrativeBody">Narrative Description(Read Only)</label>
                        <textarea class="form-control" id="narrativeBody" name="narrativeBody"
                                placeholder="Narrative Description" required readonly></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <div class="checkbox">
                        <% if (ticket.isUrgent == true) { %>
                            <input type="checkbox" name="isUrgent" id="isUrgent" checked readonly> Is this ticket urgent?
                        <% } else if(ticket.isUrgent == false || ticket.isUrgent == null) { %>
                        <input type="checkbox" name="isUrgent" id="isUrgent" readonly> Is this ticket urgent?
                        <% } %>
                    </div>
                </fieldset>

                <%/**<button type="submit" class="btn btn-primary">Update Ticket</button>*/%>

            </form>
        </div>
    </section>
</div>    
    
<%- include ../partials/footer.ejs %>
